<a href='/events'>Events Dashboard</a> | <a href='/sessions/logout'>Logout</a>
<h3>Edit Your Event</h3>
<% if flash[:notice] %>
  <% flash[:notice].each do |notice| %>
    <p class="text-danger"><%= notice %></p>
  <% end %>
<% end %>

<%= form_tag("/events/#{@event.id}", method: "patch") do %>
  <div class="form-group">
    <%= label_tag(:name, "Name:") %>
    <%= text_field_tag(:name, "#{@event.name}") %>
  </div>
  <div class="form-group">
    <%= label_tag(:date, "Date:") %>
    <%= date_field_tag(:date, "#{@event.date}") %>
  </div>
  <div class="form-group">
    <%= label_tag "Location:" %>
    <%= text_field_tag(:city, "#{@event.city}") %>
    <%= select_tag(:state, options_for_select(us_states, @event.state)) %>
  </div>
  <%= submit_tag("Update Event") %>
<% end %>
